.ajouter a{
  text-decoration: none;
}
.ajout{
  border: 2px solid #7E7E7E;
  width: 60%;
  height: auto;
  margin-left: 24%;
  border-radius: 20px;
  display: flex;
}
.add{
  font-family: arial;
  font-weight: bold;
  margin-left: 1%;
  margin-top: 1.5%;
  color: #7E7E7E;
  display: inline-block;
}
.bxadd{
  margin-left: 82%;
  margin-top: 1%;
  font-size: 33px;
  color: #7E7E7E;
}
.descri{
  width: 80%;
  margin-left: 15%;
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 7px #7E7E7E;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 10px;
}


.carousel {
  width: 97%;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-left: 8%;
}

.slides {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}

.next{
  font-size: 60px;
  color: #7E7E7E;
  cursor: pointer;
  margin-left: 50%;
}
.nextcol{
  margin-top: 16%;
}

.prev{
  font-size: 60px;
  color: #7E7E7E;
  margin-left: 10%;
  cursor: pointer;
}
.prevcol{
  margin-top: 16.5%;
  margin-right: -5%;
}
@media (max-width: 1050px) and (min-width: 768px) {
  .ajouter {
    width: 100%;
  }
  .ajout {
    width: 65%;
  }
  .bxadd {
    margin-left: 70%;
  }
  .prevcol {
    display: none;
  }
  .nextcol {
    display: none;
  }
  .descri {
    justify-content: center;
  }
  .carousel{
    width: 105%;
    justify-content: center;
  }
}
@media (max-width: 768px) and (min-width: 375px) {
  .ajouter {
    width: 75%;
    justify-content: center;
  }
  .ajout {
    width: 100%;
  }
  .bxadd {
    margin-left: 60%;
  }
  .prevcol {
    display: none;
  }
  .nextcol {
    display: none;
  }
  .descri {
    justify-content: center;
  }
  .carousel{
    width: 105%;
    justify-content: center;
  }
}
@media (max-width:575px) and (min-width:375px){
  .ajouter {
    width: 75%;
    justify-content: center;
  }
  .ajout {
    width: 100%;
  }
  .bxadd {
    margin-left: 60%;
  }
  .prevcol {
    display: none;
  }
  .nextcol {
    display: none;
  }
  .descri {
    justify-content: center;
  }
  .carousel{
    width: 85%;
    justify-content: center;
  }
}
